## File system
.DS_Store

## Editor
*.swp
*.swo
Session.vim
.cproject
.idea
*.iml
.vscode
.project
.dev.*
.favorites.json
.settings/

## Configuration

## Build
/target
/images/**/ape-dts
/images/**/dt-struct
/images/**/dt-precheck
/logs
.cargo-ok

## Integration Test
/tmp

## local env settings
/**/.env.local

/**/pkg/*

/release

## AI
.cursor
.claude
context_portal