{"type":"RdbSnapshotFinished","db_type":"pg","schema":"test_db_*.*","tb":"finished_table_*$1"}
{"type":"RdbSnapshotFinished","db_type":"pg","schema":"test_db_*.*","tb":"finished_table_*$2"}
{"type":"RdbSnapshot","db_type":"pg","schema":"public","tb":"resume_table_2","order_col":"p.k","value":"1"}
{"type":"RdbSnapshot","db_type":"pg","schema":"test_db_*.*","tb":"resume_table_*$5","order_col":"p.k","value":"1"}
{"type":"RdbSnapshot","db_type":"pg","schema":"public","tb":"resume_table_*$4","order_col":"p.k","value":"1"}
{"type":"RdbSnapshot","db_type":"pg","schema":"public","tb":"resume_table_1","order_col":"pk","value":"1"}
{"type":"RdbSnapshot","db_type":"pg","schema":"public","tb":"resume_table_3","order_col":"f_0","value":"1"}